.heading {
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: larger;
}
.main {
  display: inline-flex;
}

.Main-app {
  height: 100px;
  width: 1350px;
  margin: 10px 10px 10px 10px;
  border: 1px solid rgb(29, 92, 92);
  background-color: skyblue;
}

.dur {
  margin: 10px 10px 10px 10px;

  width: 100px;
}

.days {
  font-size: 20px;
}

.curr_date {
  font-family: "Courier New", Courier, monospace;
  font-size: medium;
  font-display: bold;
  text-align: left;
  padding: 20px;
}

.duration {
  font-size: 60px;
  text-align: end;
}

.heading-form {
  text-align: center;
  height: 50px;
}
