<div class="main">
    <div class="Main-app">
        <b>
            <p class="heading" >{{header}}</p>
            <span class="curr_date">{{ todays_date }}</span>
        </b>
    </div>
    <div class="dur">
        <b>
            <p class="duration"> {{ duration }} <span class="days">Days</span></p>
        </b>
    </div>
   
</div>
<div class="form-container heading-form form-control" >
<label>Update Heading:  </label>

<input type="text" [(ngModel)]="heading">
<button class="btn btn-primary" (click)="changeHeader()"  [disabled] = "isDisabled" value="">Submit</button>
</div>

<app-header></app-header>
<app-main-body></app-main-body>